/* style.css */
body {
  background-color: #0e0e0e;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #111;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.hero {
  text-align: center;
  padding: 50px 20px;
}

.hero h1 {
  font-size: 2.5em;
  color: #B983FF;
}

.hero img {
  width: 150px;
  border-radius: 50%;
  border: 3px solid #B983FF;
  margin: 20px 0;
}

.descricao {
  background-color: #1a1a1a;
  padding: 20px;
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #333;
  color: #ccc;
}

.descricao span {
  color: #00ff00;
  font-size: 1.5em;
  
}

section {
  padding: 50px 20px;
}

h2 {
  text-align: center;
  color: #B983FF;
  margin-bottom: 10px;
}

.subtitulo {
  text-align: center;
  color: #aaa;
  margin-bottom: 40px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(185, 131, 255, 0.3); 
  max-width: 300px;
  flex: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(185, 131, 255, 0.6); 
}

.titulo-icon {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-right: 10px;
}

.card h3 {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #B983FF;
  margin: 0 0 10px 0;
}

.stack-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.stack-item {
  background-color: #1e1e1e;
  padding: 10px 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  color: #fff;
  border: 1px solid #2a2a2a;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
}

.stack-item:hover {
  transform: scale(1.05);
}

.stack-item img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

#contato {
  text-align: center;
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 30px auto;
  max-width: 600px;
}

.social-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
.social-item img {
  width: 22px;
  height: 22px;
}

.social-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: transform 0.2s ease, color 0.2s ease;
}

.social-item:hover {
  transform: scale(1.05);
  color: #B983FF; 
}

.social-item img {
  width: 22px;
  height: 22px;
  transition: transform 0.3s ease;
}

.social-item:hover img {
  transform: scale(1.2);
}

